<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <h1>Olá, Alunos!</h1>
    <img src="{{ url_for('static', filename='img/univassouras.png') }}" />
    <ul>
        <li><a href="{{ url_for('sobre') }}">A Universidade de Vassouras</a></li>
        <li><a href="{{ url_for('catalogo_curso') }}">Catálogo de Cursos</a></li>
    </ul>
</body>
</html>