<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <h1>A Universidade de Vassouras</h1>
    <p>A Universidade de Vassouras é uma universidade privada localiza na cidade de Vassouras, na região sul do estado do Rio de Janeiro. É uma instituição sem fins lucrativos, tendo como sua mantenedora a Fundação Educacional Severino Sombra.</p>
</body>
</html>