<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Macarrão - Cantina Universitária</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/detalhe.css')}}">
</head>
<body>
    <header>
        <h1>Cantina Universitária</h1>
    </header>
    <a class="voltar" href="{{url_for('index')}}">Voltar</a>
    <section class="lanche">
        <h2>Macarrão</h2>
        <img src="{{url_for('static', filename='img/macarrao.jpg')}}" alt="Macarrão vendido na cantina universitária">
        <p class="descricao">Nosso cargo chefe! Macarrão de respeito de uma legítma cantina italiana!</p>
        <span class="preco">R$ 89,99</span>
        <span class="ingredientes">
            <h3>Ingredientes:</h3>
            <ul>
                <li>Macarrão</li>
                <li>Tomate cereja</li>
                <li>Molho de tomate</li>
                <li>Alho</li>
                <li>Azeite</li>
            </ul>
        </span>
    </section>
    <section class="comentarios">
        <h3>Comentarios</h3>
        <div class="card-comentarios">
            <h4>Ivan</h4>
            <p class="comentario">Que macarrão bom!</p>
        </div>
        <div class="card-comentarios">
            <h4>Augusta</h4>
            <p class="comentario">To vindo todo dia comer esse macarrão gostoso!</p>
        </div>
    </section>
</body>
</html>