<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{produto.nome}} - Cantina Universitária</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/detalhe.css')}}">
</head>
<body>
    <header>
        <h1>Cantina Universitária</h1>
    </header>
    <a class="voltar" href="{{url_for('index')}}">Voltar</a>
    <section class="lanche">
        <h2>{{produto.nome}}</h2>
        <img src="{{url_for('static', filename=produto.imagem)}}" alt="{{produto.nome}} vendido na cantina universitária">
        <p class="descricao">{{produto.descricao}}</p>
        <span class="preco">{{produto.preco}}</span>
        <span class="ingredientes">
            <h3>Ingredientes:</h3>
            <ul>
                {%for item in produto.ingrediente%}
                    <li>{{item}}</li>
                {%endfor%}
            </ul>
        </span>
    </section>
    <section class="comentarios">
        <h3>Comentarios</h3>
        {%for comentario in comentarios%}
            {%if comentario.idProduto == produto.id%}
                <div class="card-comentarios">
                    <h4>{{comentario.nomeUsuario}}</h4>
                    <p class="comentario">{{comentario.comentario}}</p>
                </div>
            {%endif%}
        {%endfor%}
    </section>
</body>
</html>