<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Pesquisar no Site</h1>
    <form method="POST">
        <input type="text" name="pesquisa" placeholder="Pesquisar..." value="{{pesquisa}}">
        <button type="submit">Pesquisar</button>
    </form>
</body>
</html>