<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UVASS - Instalações</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo-univassouras.png') }}" alt="Logo da Universidade de Vassouras">
        <nav class="nav-header">
            <ul class="nav-header-list">
                <li><a href="{{url_for('index')}}">Início</a></li>
                <li><a href="{{url_for('eventos')}}">Eventos Acadêmicos</a></li>
                <li><a href="">Clubes e Organizações Estudantis</a></li>
                <li><a href="">Serviçoes no Campus</a></li>
                <li><a href="">Transporte e Acesso</a></li>
            </ul>
        </nav>
    </header>
    <h1>Instalações do Campus</h1>
</body>
</html>