<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UVASS - {{instalacaoMocks.nome}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo-univassouras-quadrado.png')}}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo-univassouras.png') }}" alt="Logo da Universidade de Vassouras">
        <nav class="nav-header">
            <ul class="nav-header-list">
                <li><a href="{{url_for('index')}}">Início</a></li>
                <li><a href="{{url_for('eventos')}}">Eventos Acadêmicos</a></li>
                <li><a href="{{url_for('instalacoes')}}">Instalações do Campus</a></li>
                <li><a href="{{url_for('clubes')}}">Clubes e Organizações Estudantis</a></li>
                <li><a href="{{url_for('servicos')}}">Serviços no Campus</a></li>
                <li><a href="{{url_for('acesso')}}">Transporte e Acesso</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h1 class="main-titulo">{{ instalacaoMocks.nome }}</h1>
        <div class="evento-data">
            <span class="evento-dia">Horário de funcionamento:</span>
            <span class="evento-mes">{{ instalacaoMocks.horarioFuncionamento }}</span>
            <span>|</span>
            <span>{{instalacaoMocks.disponibilidade}} espaços disponíveis.</span>
        </div>
        <img src="{{url_for('static', filename=instalacaoMocks.imagem)}}" alt="Imagem da instalação" class="evento-img">
        <p class="main-descricao">{{instalacaoMocks.descricao}}</p>
    </main>
    <section class="container evento-local">
        <h2>Local da instalação: {{instalacaoMocks.local}}</h2>
        <iframe src={{instalacaoMocks.urlMapa}} width="50%" height="450" style="border:0; margin-left: 25%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</body>
</html>