<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UVASS - Acesso</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo-univassouras-quadrado.png')}}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo-univassouras.png') }}" alt="Logo da Universidade de Vassouras">
        <nav class="nav-header">
            <ul class="nav-header-list">
                <li><a href="{{url_for('index')}}">Início</a></li>
                <li><a href="{{url_for('eventos')}}">Eventos Acadêmicos</a></li>
                <li><a href="{{url_for('instalacoes')}}">Instalações do Campus</a></li>
                <li><a href="{{url_for('clubes')}}">Clubes e Organizações Estudantis</a></li>
                <li><a href="{{url_for('servicos')}}">Serviços no Campus</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h1 class="main-titulo">Transporte e Acesso</h1>
        <p class="main-descricao">Descubra as opções de transporte e acesso disponíveis para facilitar sua chegada e permanência no campus da Universidade de Vassouras.</p>
    </main>
    <section class="container cards-container">
        {% for transporte in transportesMocks %}
            <div class="card">
                <img src="{{ url_for('static', filename=transporte.imagem) }}" alt="Imagem de transporte ou acesso" class="card-img">
                <div class="card-info">
                    <div class="card-div-nome">
                        <span class="card-nome">{{ transporte.tipo }}</span>
                    </div>
                    <span class="card-descricao">{{ transporte.descricao }}</span>
                    <a href="{{url_for('transporte', id=transporte.id)}}" class="btn-detalhes">Detalhes</a>
                </div>
            </div>
        {% endfor %}
    </section>
</body>
</html>