.data-palestra {
    padding: 1rem 2rem;
    background: var(--laranja);
    position: absolute;
    border-radius: 5px 0 0 0;
}

.dia-palestra, .mes-palestra {
    font-size: 24px;
    font-weight: bold;
}

.h2-palestra {
    margin-top: 2rem;
}

.mapa-palestra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao-palestra {
    margin: 1rem 0;
}

.palestrantes-da-sessao {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}