.foto-do-palestrante {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.gap-1 {
    margin-bottom: 3.5rem;
}

.card-palestrante {
    display: flex;
    flex-direction: row;
    align-items: first;
    justify-content: start;
    gap: 50px;
}
.nome-palestrante {
    font-size: 20px;
}
