<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <main class="container">
        <h1>Congresso Saúde e Bem-Estar</h1>
        <p>O projeto Congresso Saúde e Bem-Estar surge como uma inovadora plataforma digital destinada a simplificar a experiência dos participantes em eventos dedicados à saúde e bem-estar. Ao fornecer um catálogo digital abrangente, o projeto visa facilitar a navegação entre uma variedade de atividades, incluindo palestras, workshops e sessões interativas. Essa abordagem intuitiva e acessível promove uma participação mais significativa, permitindo que os usuários explorem e se envolvam com os conteúdos que mais lhes interessam, promovendo assim uma jornada de aprendizado e autocuidado mais fluida e personalizada.</p>
    </main>
    <section class="container sessao">
        <h2>Sessões</h2>
        <div class="cards">
            <div class="card">
                <img src="{{url_for('static', filename='img/palestra1.png')}}" alt="Foto da sessão." class="foto-sessao">
                <h3 class="nome-sessao">Nome da Sessão</h3>
                <div class="palestrantes">
                    <h4 class="palestrante">Palestrantes</h4>
                    <a href=""><img src="{{url_for('static', filename='img/pablo-marcal.png')}}" alt="Foto do plaestrante" class="foto-palestrante"></a>
                </div>
                <a href="" class="btn-sessao">Detalhes</a>
            </div>
        </div>
    </section>
</body>
</html>