<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saúde e Bem-Estar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <main class="container">
        <h1>Congresso Saúde e Bem-Estar</h1>
        <div class="main-info">
            <img src="{{url_for( 'static', filename='img/saude-e-bem-estar.png')}}" alt="Foto de uma mulher fazendo exercício ao ar livre." class="main-img">
            <p>O projeto Congresso Saúde e Bem-Estar surge como uma inovadora plataforma digital destinada a simplificar a experiência dos participantes em eventos dedicados à saúde e bem-estar. Ao fornecer um catálogo digital abrangente, o projeto visa facilitar a navegação entre uma variedade de atividades, incluindo palestras, workshops e sessões interativas. Essa abordagem intuitiva e acessível promove uma participação mais significativa, permitindo que os usuários explorem e se envolvam com os conteúdos que mais lhes interessam, promovendo assim uma jornada de aprendizado e autocuidado mais fluida e personalizada.</p>
        </div>
    </main>
    <section class="container sessao">
        <h2 class="h2">Sessões</h2>
        <div class="cards">
            {% for palestra in palestras %}
                <div class="card">
                    <div class="data">
                        <span class="dia">{{ palestra.dia }}</span>
                        <span class="mes">{{ palestra.mes }}</span>
                    </div>
                    <img src="{{url_for('static', filename=palestra.foto)}}" alt="Foto da sessão." class="foto-sessao">
                    <h3 class="nome-sessao">{{ palestra.nome }}</h3>
                    <div class="palestrantes">
                        {% for palestrante in palestrantes %}
                            {% for i in palestra.palestrantes%}
                                {% if i == palestrante.id %}
                                    <a href="{{ url_for('ministrante', id=palestrante.id) }}"><img src="{{url_for('static', filename=palestrante.foto)}}" alt="Foto do plaestrante" class="foto-palestrante"></a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="card-botoes">
                        <a href="{{ url_for('apresentacao', id=palestra.id) }}" class="btn-sessao">Detalhes</a>
                        <a href="{{ url_for('ministrantes', id=palestra.id) }}" class="btn-palestrantes">Palestrantes</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>