<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prova 1 Lab. Front-end - Página 1</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <span>Página 1 prova de laboratório de programação front-end</span>
        <a href="{{url_for('pag2')}}">Página 2</a>
    </header>
    <main>
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed sapien vel mauris efficitur hendrerit. Nam euismod lobortis erat, vel varius dui malesuada sed. Phasellus et nisi quis velit vehicula cursus ac in justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vitae odio odio. Vivamus et nisi sit amet magna laoreet convallis. Sed aliquet est vitae lorem tincidunt, at accumsan quam commodo. Morbi euismod ullamcorper arcu id tincidunt. Donec ac pretium turpis. Duis vel arcu id purus lobortis bibendum vel nec velit. Nulla facilisi. Vivamus vel quam quis dui fermentum lobortis non vel nisl. Sed nec tellus sed libero eleifend feugiat vel at nisi. Fusce vel nunc in metus commodo scelerisque.</p>
    </main>
    <footer>
        <p>Desenvolvido por <a href="github.com/jpcadinelli">jpcadinelli</a></p>
    </footer>
</body>
</html>