<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prova 1 Lab. Front-end - Página 2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <span>Página 2 prova de laboratório de programação front-end</span>
        <a href="{{url_for('index')}}">Página 1</a>
    </header>
    <main>
        <h1>Quisque et dolor at lorem tincidunt scelerisque vel nec magna</h1>
        <p>Quisque et dolor at lorem tincidunt scelerisque vel nec magna. Proin nec velit vel diam ullamcorper vehicula. Phasellus vehicula purus velit, in consequat dui sollicitudin nec. Nullam sed odio at orci efficitur tempus. Sed suscipit quam nec magna lobortis, nec tristique ligula eleifend. Vivamus sagittis libero et turpis vestibulum auctor. Nam nec vestibulum neque, quis hendrerit lorem. Curabitur porta fringilla sapien, id posuere dui mattis in. Ut eget arcu vel justo lacinia suscipit nec a magna. Vivamus ut tellus magna. Aenean ultricies nunc nisi, non varius nulla varius eget. Ut sit amet nulla ac justo ultrices tempus. Fusce mollis vestibulum nibh, sit amet lobortis ex fringilla nec. Integer vel urna vitae lorem consectetur ornare. In hac habitasse platea dictumst.</p>
    </main>
    <footer>
        <p>Desenvolvido por <a href="github.com/jpcadinelli">jpcadinelli</a></p>
    </footer>
</body>
</html>